<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Suporte</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Contatos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
