<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/">
            <span class="align-middle me-3">Simple blog</span>
        </a>

        <ul class="sidebar-nav">

            <li class="sidebar-header">Páginas</li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/">
                    <i class="align-middle" data-feather="home"></i>
                    <span class="align-middle">Início</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/">
                    <i class="align-middle" data-feather="book-open"></i>
                    <span class="align-middle">Artigos</span>
                </a>
            </li>

            <li class="sidebar-header">Autores</li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/">
                    <i class="align-middle" data-feather="user-check"></i>
                    <span class="align-middle">Thiago Assis</span>
                </a>
            </li>

        </ul>
    </div>
</nav>
