{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="btn-group btn-group-sm float-end mt-n1">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ordenar por
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Título</a>
        <a class="dropdown-item" href="#">Publicação</a>
        <a class="dropdown-item" href="#">Autor</a>
    </div>
</div>
<h1 class="h1 mb-3">Artigos</h1>

<div class="row">
    {% if page_obj %}
        {% for article in page_obj %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">

                    <img class="card-img-top" src="{{ article.photo.url }}" alt="{{ article.headline }}">

                    <div class="card-header px-4 pt-4">
                        <h5 class="card-title mb-0">{{ article.headline }}</h5>
                        <div class="badge bg-primary my-2">{{ article.pub_date }}</div>
                    </div>
                    <div class="card-body px-4 pt-2">
                        <p>{{ article.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-4 pb-4">
                            <p class="mb-2 fw-bold">
                                {{ article.author.first_name }} {{ article.author.last_name }}
                                <a href="articles/{{ article.id }}" class="btn btn-sm btn-primary float-end">Ler</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}

        <div class="col-12 text-center">
            <div class="btn-group btn-group-sm mb-4" role="group" aria-label="Small button group">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary">
                        <i class="align-middle" data-feather="arrow-left"></i>
                    </a>
                {% else %}
                    <a class="btn btn-secondary disabled" aria-hidden="true">
                        <i class="align-middle" data-feather="arrow-left"></i>
                    </a>
                {% endif %}

                {% if page_obj.number|add:'-4' > 1 %}
                    <a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <a class="btn btn-secondary active">{{ i }}</a>
                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                        <a href="?page={{ i }}" class="btn btn-secondary">
                            {{ i }}
                        </a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.number|add:'4' > i %}
                    <a href="?page={{ page_obj.number|add:'5' }}" class="btn btn-secondary">&hellip;</a>
                {% endif %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary">
                        <i class="align-middle" data-feather="arrow-right"></i>
                    </a>
                {% else %}
                    <a class="btn btn-secondary disabled" aria-hidden="true">
                        <i class="align-middle" data-feather="arrow-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <p class="h4">Nenhum artigo encontrado</p>
    {% endif %}
</div>

{% endblock content %}
