{% extends 'base.html' %}


{% block content %}

<h1 class="h1 mb-3">Últimos artigos</h1>

<div class="row">
    {% if articles %}
        {% for article in articles %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">

                    <img class="card-img-top" src="{{ article.photo.url }}" alt="{{ article.headline }}">

                    <div class="card-header px-4 pt-4">
                        <h5 class="card-title mb-0">{{ article.headline }}</h5>
                        <div class="badge bg-primary my-2">{{ article.pub_date }}</div>
                    </div>
                    <div class="card-body px-4 pt-2">
                        <p>{{ article.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-4 pb-4">
                            <p class="mb-2 fw-bold">
                                {{ article.author.first_name }} {{ article.author.last_name }}
                                <a href="articles/{{ article.id }}" class="btn btn-sm btn-primary float-end">Ler</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}

        <div class="d-grid">
            <a href="/articles" class="btn btn-primary">Carregar mais</a>
        </div>

    {% else %}
        <p class="h4">Nenhum artigo encontrado</p>
    {% endif %}

</div>

{% endblock content %}
